
.products-slider{
    width: 100%;
    position: relative;
    .itens-galery{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .slider-arrows{
        .left-arrow, .right-arrow{
            position: absolute;
            top: 50%;

        }
        .left-arrow{
            left: -4rem;
        }
        
        .right-arrow{
            right: -4rem;
        }
    }
}