@use "../../styles/variables/colors";

button{
    padding: 1.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: colors.$primary-color;
    color: colors.$white-text-highlight;
    border: none;
    
    &.square{
        border-radius: 0.4rem;
    }

    & .round{
        border-radius: 1rem;
    }
}