@use 'variables/colors';
@use 'variables/fonts';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

html, body, #root{
  min-height: 100vh;
}

#root{
  font-family: fonts.$poppins;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}