@use "../../styles/variables/colors";

$width: 80vw;

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header-area{
        width: $width;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        border-top: 1px solid colors.$header-border;
        border-bottom: 1px solid colors.$header-border;

        figure{
            margin-right: 8rem;
        }

        .search-box{
            margin-right: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            background-color: colors.$header-input;
            border-radius: 1rem;
            overflow: hidden;

            input{
                flex-grow: 1;
                padding: 1.9rem;
                font-size: 1.4rem;
                font-weight: 500;
                border: none;
                background-color: colors.$header-input;      
            }

            button{
                padding: 1.2rem;
                background-color: colors.$header-input;
            }
        }

        .user-icons{
            img{
                margin:  0 1rem;
            }
        }
    }

    .calltoaction-container{
        width: $width;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            color: colors.$light-gray;
            font-weight: 500;
            font-size: 1.2rem;

            display: flex;
            align-items: center;

            img{
                margin-right: 1.2rem;
            }
            strong{
                margin: 0 2px;
                font-size: 1.2rem;
                font-weight: 600;
                color: colors.$primary-color;
            }

            &.central-icon{
                margin-left: 12rem;
                margin-right: 12rem;
            }
        }

    }

    nav{
        width: $width;
        ul{
            width: 100%;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

            li{
                padding: 1.5rem;
                 display: flex;
                align-items: center;
                justify-content: center;
                color: colors.$gray-color;
                font-size: 1.2rem;
                font-weight: 600;

                a{
                    color:colors.$white-text-highlight
                }
            }

        }
    }
}