$primary-color: #F71963;
$gray-color: #9F9F9F;
$light-gray: #808080;
$lighter-gray: #BDBDBD;
$modal-close-x: #707070;
$modal-text: #041E50;
$dark-gray: #3F3F40;
$white-background: #FFF;
$white-text-highlight: #FFF;
$white-background-category: #F4F4F4;
$category-title-color: #4E4E4E;
$hr-color: #DEDEDE;
$categories-menu-color: #3B3B3B;
$dark-input-border: #2A2A2A;
$footer-background: #2A2A2A;
$input-border: #2A2A2A;
$header-border: #F0F0F0;
$header-input: #F6F5F2;