@use "../../styles/variables/colors";

footer{
    width: 100%;

    color: colors.$white-text-highlight;
    background-color: colors.$footer-background;

    .footer-menus{
        padding: 3.6rem 7.8rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .sitemap-and-payment-methods {
            width: 50%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            h3{
                margin: 3.4rem 0;
                font-size: 1.3rem;
                font-weight: 700;
            }
            
            nav{
                li{
                    font-size: 1.2rem;
                    font-weight: 300;
                    line-height: 3.2rem;
                    a{
                        color: colors.$white-text-highlight;
    
                        &:hover{
                            color: colors.$primary-color;
                        }
                    }
                }
            }

            .about-area{
                height: 28rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                .social-icons{ 
                    width: 100%;
                    margin-top: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            .payment-methods{
                width: 200px;

                .payment-methods-icons{ 
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    figure{
                        width: 30%;
                        height: 4rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        section{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
        }
    }

    .footer-disclaimer{
        padding: 2.2rem 9.3rem;
        border-top: 1px solid colors.$white-text-highlight;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .signature-logos{
            width: 20vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}